body {
    margin: 0;
}
.teste {
    width: 600px;
    height: 300px;
    background-color: red;
}

@media only screen and (max-width:500px) {
    .teste {
        width: 400px;
        background-color: green;
    }
}