body {
    margin: 0;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: blue;
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;
    margin-bottom: 10px;

     /* none = Oculta a div */
     /* block = Mostra a div */
     /* inline = Na mesma linha (como span) */
     /* inline-block = Na mesma linha mas mantém altura/largura */
    display: inline-block;
}