body{
    margin: 0;
}

.div {
    width: 100%;
    height: 100px;
    background-color: red;
    color: white;
}

.menu {
    width: 200px;
    height: 300px;
    background-color: blue;
    float: left;
}

.conteudo {
    width: 500px;
    height: 300px;
    background-color: green;
    float: right;
}

.span1 {
    background-color: red;
}