body {
    margin: 0;
}

form {
    background-color: #DDD;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.campoentrada {
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
}