body{
    margin: 0;
}

.teste1 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 3px solid black; /* width, style, color */
    border-radius: 10px;
    margin-bottom: 3px;
}
.teste2 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 3px dotted black; /* width, style, color */
    margin-bottom: 3px;
}
.teste3 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 3px dashed black; /* width, style, color */
    margin-bottom: 3px;
}

.teste4 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 3px double black; /* width, style, color */
    margin-bottom: 3px;
}

.teste5 {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    border: 3px solid black; /* width, style, color */
    border-radius: 50px;
    margin-bottom: 3px;
}