body {
    margin: 0;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: blue;
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;

    /* Margem automática dos lados */
    margin: auto;

    /* Margem externa da div em relação ao topo */
    margin-top: 20px;

    /* Margem interna da div em relação ao topo */
    padding-top: 20px;

}

.absolute {
    /* Posição travada de acordo com as coordenadas. Não recalcula com scrool */
    position: absolute;
    top: 20px;
    left: 100px;
    height: 50px;
}

.fixed {
    /* Posição travada de acordo com as coordenadas. Recalcula com scrool */
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    height: 25px;
}