* {
	font-family: Arial, Helvetica, sans-serif
}

body {
	margin: 0;
	padding: 0;
}

.topo {
	height: 50px;
	background-color: #353535;
}

.topointerior {
	width: 1000px;
	/* Margens esquerda e direita automáticas */
	margin: auto;
	color: white;
	background-color: blue;
	z-index: auto;
}

.logomarca {
	float: left;
	font-size: 24px;
	line-height: 50px;
}

.menu {
	float: right;
}

.menu ul,
.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}

.menu li:hover {
	background-color: #3480c1;
}