* {
	font-family: Arial, Helvetica, sans-serif
}

body {
	margin: 0;
	padding: 0;
}

.topo {
	height: 50px;
	background-color: #353535;
}

.topointerior {
	width: 1000px;
	/* Margens esquerda e direita automáticas */
	margin: auto;
	color: white;
	background-color: blue;
	z-index: auto;
}

.logomarca {
	float: left;
	font-size: 24px;
	line-height: 50px;
}

.menu {
	float: right;
}

.menu ul,
.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	/* Altura da linha, para centralizar texto */
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}

.menu li:hover {
	background-color: #3480c1;
}

.banner {
	height: 300px;
	background-color: #347aba;
}

.bannerinterior {
	width: 1000px;
	margin: auto;
}

.banneresquerda {
	float: left;
}

.bannerdireita {
	float: right;
}

.bannerdireita img {
	margin-right: 50px;
	height: 296px;
}

.frase1 {
	font-size: 48px;
	color: white;
	margin-top: 60px;
}

.frase2 {
	font-size: 20px;
	color: white;
}

.botao {
	background-color: #ffc001;
	width: 282px;
	height: 56px;
	font-size: 20px;
	text-align: center;
	/* Altura da linha, para centralizar texto */
	line-height: 56px;
	margin-top: 20px;
	cursor: pointer;
	/* Cantos arredondados */
	border-radius: 5px;
}

.conteudointerno {
	width: 1000px;
	margin: auto;
}

.outrosprodutos {
	height: 90px;
	font-size: 20px;
	text-align: center;
	line-height: 90px;
}

.fotos {
	background-color: #ffc001;
	padding-left: 5px; 
}

.fotos img {
	margin-left: 10px;
	margin-right: 10px;
}

.rodape {
	background-color: #347aba;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	margin-top: 40px;
}