body {
    margin: 0;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: blue;
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;

    margin: auto; /* Margem automática dos lados */
    margin-top: 20px; /* Margem externa da div em relação ao topo */
    padding-top: 20px; /* Margem interna da div em relação ao topo */
}