body {
    margin: 0;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: blue;
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.texto2 {
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
}